<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/dishes.css">
</head>
<body>
        <nav class="navbar">
            <div class="logo"><img src="/images/restaurantBEE.png" alt="logo"></div>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="starters1">Starters</a></li>
                <li><a href="maincourse1">Main Course</a></li>
                <li><a href="gujarat">Gujarati</a></li>
                <li><a href="southindian">South Indian</a></li>
                
        </nav>
    <div class="container">
        <h1>Marathi Desserts</h1>
        <div class="card">
            <img src="imagesmaha/deserts/amrakhand.jpg" alt="Rasogula">
            <div class="card-content">
                <h3>Amarkhand</h3>
                <p>A variation of shrikhand made by combining strained yogurt with mango pulp, sugar, and cardamom. It offers a delightful blend of sweet and tangy flavors.</p>
                <p>Price: &#8377;120</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagesmaha/deserts/anarsa.jpg" alt="Kheer">
            <div class="card-content">
                <h3>Anarsa</h3>
                <p>Crispy and sweet deep-fried snacks made from soaked rice flour and jaggery, flavored with poppy seeds (khus khus). Anarsa is often prepared during festivals like Diwali and Holi.</p>
                <p>Price: &#8377;200</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagesmaha/deserts/Basundi.jpg" alt="Jalebi">
            <div class="card-content">
                <h3>Basundi</h3>
                <p>A rich and indulgent milk-based dessert made by simmering sweetened condensed milk with saffron, cardamom, and nuts until it thickens. It's often served chilled.</p>
                <p>Price: &#8377;10</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagesmaha/deserts/chikki.jpg" alt="Rasmalai">
            <div class="card-content">
                <h3>Chikki</h3>
                <p>A crunchy sweet treat made from jaggery and nuts like peanuts, cashews, or almonds, cooked until caramelized and then cooled and cut into bars. Chikki comes in various flavors and is a popular snack during festivals.</p>
                <p>Price: &#8377;200</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagesmaha/deserts/Modak.jpg" alt="Halwa">
            <div class="card-content">
                <h3>Modak</h3>
                <p>Steamed or fried dumplings made from rice flour dough, filled with a sweet mixture of grated coconut, jaggery, and cardamom. Modak is traditionally offered as prasad during Ganesh Chaturthi celebrations.</p>
                <p>Price: &#8377;150</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagesmaha/deserts/narali bhaat.jpg" alt="Ice Cream">
            <div class="card-content">
                <h3>Narali Bhaat</h3>
                <p>A coconut-infused sweet rice dish made with basmati rice, fresh coconut, jaggery, and flavored with cardamom and nutmeg. Narali Bhaat is traditionally served during Narali Purnima.</p>
                <p>Price: &#8377;150</p>
                 <span style="background-color: #28a745; color: white; padding: 4px 8px; border-radius: 4px;">Veg</span>
                 <button class="recipe-button" onclick="showRecipePopup('Thalipeeth', 'Savory multigrain flatbread made from a mixture of various flours like rice, chickpea, and wheat, along with spices and herbs. Served with yogurt or chutney.')">Recipe</button>
            </div>
        </div>
    </div>
    <script src="js/starters.js"></script>
</body>
</html>
